    :root {
      --bg-color: white;
      --text-color: #333333;
      --card-color: rgba(249, 249, 249, 0.95);
    }

    body.dark {
      --bg-color: rgba(18, 18, 18, 0.9);
      --text-color: #ffffff;
      --card-color: rgba(30, 30, 30, 0.9);
    }

body {
  background: url(https://historiadormir.com.br/images/historias/o-pequeno-principe-605.webp) no-repeat center center fixed;
  background-size: cover;
  background-attachment: fixed;
  color: var(--text-color);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}


    header {
      background-image: linear-gradient(to top, #3d5a73a8,#1827258e);
      color: white;
      padding: 15px;
      text-align: center;
      text-shadow: 2px 2px 3px black;
      font-family: 'Courier New', Courier, monospace;
    }

    .container {
      max-width: 800px;
      margin: auto;
      padding: 20px;
      background-color: rgba(0, 0, 0, 0.315);
      border-radius: 10px;
      margin-top: 20px;
    }

    .post {
      background-color: rgba(0, 0, 0, 0.781);
      padding: 15px;
      margin-bottom: 20px;
      border-radius: 10px;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.712);
      color: #ffffff;
    }

    .post h2 {
      margin-top: 0;
    }

    .post .date {
      font-size: 0.9em;
      color: white;
    }

    #toggleTheme {
      background-color: #03dac6;
      color: white;
      border: none;
      padding: 10px 15px;
      margin-top: 15px;
      border-radius: 5px;
      cursor: pointer;
    }